@use "variables" as *;


html, body{
  margin: 0;
  padding: 0;
  font-family: Montserrat,sans-serif;
  font-weight: 400;
}
.container{
  max-width: 1240px;
  margin: 0 auto;
}
.logo {
  cursor: pointer;
}

.button{
  background: $blue-color;
  text-align: center;
  padding: 15px 30px;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  color: #fff;
border-radius: 5px;
line-height: 130%;
border: 0;

&.button-small{
  padding: 10px;
  font-size: 12px;
  font-weight: 500;

}
}

.input{
  font-family: Montserrat,sans-serif;
  font-weight: 400;
  border-radius: 3px;
  padding: 17px 20px;
  border: 2px solid $blue-color;
  font-size: 14px;
  color: $dark-blue-color;
  box-sizing: border-box;

  &::placeholder{
    color: #A8ABA7;
  }
}
.small-input{
  border: 1px solid $blue-color;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: $dark-blue-color;
  width: 40px;
  height: 28px;
}