@use "../../../../assets/styles/_variables" as *;

header{

  .container{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;


    nav {
      margin-left: 100px;

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-right: 30px;
          list-style: none;

          a {
            font-size: 16px;
            color: $dark-blue-color;
            cursor: pointer;
            text-decoration: none;

            &:hover {
              color: $blue-color;
            }
            &.active{
              color: $blue-color;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }

      }

    }
      .header-phone{
        font-size: 16px;
        color: $blue-color;
    }

    .header-phone{
      font-size: 16px;
      color: $blue-color;
      margin-left: 257px;
      text-decoration: none;
    }
    .logged{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      width: 209px;
      margin-left: 19px;
      box-sizing: border-box;
      position: relative;

      .logged-text{
        font-size: 16px;
        color: $dark-blue-color;
        margin-left: 7px;
      }
      .logged-modal{
        position: absolute;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid $blue-color;
        width: 120px;
        top: 25px;
        right: 10px;

        .logged-modal-text{
          font-size: 16px;
          color: $dark-blue-color;
          font-family: Montserrat, sans-serif;
          font-weight: 500;
          text-align: center;
        }
        
      }
    }
  }
}
