@use "../../../../assets/styles/_variables" as *;

header{

  .container{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;

    .logo{
      cursor: pointer;
    }

    nav {
      margin-left: 100px;

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-right: 30px;
          list-style: none;

          a {
            font-size: 16px;
            color: $dark-blue-color;
            cursor: pointer;
            text-decoration: none;

            &:hover {
              color: $blue-color;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }

      }

    }
      .header-phone{
        font-size: 16px;
        color: $blue-color;
    }

    .header-phone{
      font-size: 16px;
      color: $blue-color;
      margin-left: 257px;
    }
    .logged{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      width: 209px;
      margin-left: 19px;
      box-sizing: border-box;

      .logged-text{
        font-size: 16px;
        color: $dark-blue-color;
        margin-right: 7px;
      }
    }
  }
}
