@use "../../../../assets/styles/_variables"as *;
@use "../../../../assets/styles/_mixins"as *;

.article-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 292px;
  height: 571px;
  box-sizing: border-box;

  .article-card-info{
    position: relative;

    .article-card-category{
      padding: 10px 18px;
      font-size: 11px;
      line-height: 130%;
      text-align: center;
      color: $blue-color;
      position: absolute;
      top: 10px;
      right: 9px;
      box-sizing: border-box;
      border-radius: 5px;
      background: #ffffff;
    }
    .article-card-image{
      width: 291px;
      height: 291px;
      background-size: cover;
      background-position: center;
      margin-bottom: 15px;
    }
    .article-card-title{
      margin-bottom: 20px;
      @include title-Montserrat-500-20;
    }
    .article-card-text{
      font-size: 14px;
      line-height: 130%;
      color: $dark-blue-color;
    }
        }
  .article-card-link{
    font-size: 16px;
    line-height: 130%;
    color: $blue-color;
    text-decoration: underline;
    text-decoration-style: solid;
  }
}
