@use "../../../../assets/styles/_variables" as *;

.main {
  .container {
    .main-title-sliders {
      margin-bottom: 120px;
      height: 500px;

      .main-title-slide {
        position: relative;

        .slide-block-image {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 100%;

          .elipce {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
          }

          .image {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 5;
          }
        }

        .main-title-info {
          position: absolute;
          top: 100px;
          left: 150px;
          z-index: 15;

          .main-title-info-pre-title {
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 40%;
            text-transform: uppercase;
            color: $blue-color;
          }

          .main-title-info-title {
            font-family: Lora;
            font-weight: 400;
            font-size: 50px;
            line-height: 130%;
            color: #fff;
            margin-bottom: 20px;
            width: 610px;

            span {
              color: $blue-color;
            }

          }

          .main-title-info-text {
            font-size: 24px;
            line-height: 130%;
            color: #fff;
            width: 456px;
            margin-bottom: 50px;

          }
          .button{
            width: 163px;
          }
        }
      }
    }
  }
}
