@use "../../../../assets/styles/_variables"as *;
@use "../../../../assets/styles/_mixins"as *;

.main {
  .container {
    .main-title-sliders {
      margin-bottom: 120px;
      height: 500px;
      --swiper-theme-color: #ffffff;


      .main-title-slide {
        position: relative;

        .slide-block-image {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 100%;

          .elipce {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
          }

          .image {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 5;
          }
        }

        .main-title-info {
          position: absolute;
          top: 100px;
          left: 100px;
          z-index: 15;

          .main-title-info-pre-title {
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 4px;
            text-transform: uppercase;
            color: $blue-color;
          }

          .main-title-info-title {
            font-family: Lora, sans-serif;
            font-weight: 400;
            font-size: 50px;
            line-height: 130%;
            color: #fff;
            margin-bottom: 20px;
            width: 610px;

            span {
              color: $blue-color;
            }

          }

          .main-title-info-text {
            font-size: 24px;
            line-height: 130%;
            color: #fff;
            width: 456px;
            margin-bottom: 50px;

          }

          .button {
            width: 163px;
          }
        }
      }
    }
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: transparent;
  border: 1px solid #ffffff;
  opacity: 1;
}

.services {
  .container {
    padding-bottom: 60px;
    margin-bottom: 60px;

    .services-title {
      @include title-Lora-38;
      margin-bottom: 40px;
    }

    .services-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .service-card {
        box-sizing: border-box;
        width: 290px;

        .service-card-image {
          margin-bottom: 15px;
        }

        .service-card-title {
          @include title-Montserrat-500-20;
          margin-bottom: 10px;
        }

        .service-card-text {
          font-size: 14px;
          line-height: 130%;
          margin-bottom: 15px;
          color: $dark-blue-color;
          height: 90px;
        }

        .service-card-action {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .service-card-price {
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: $blue-color;
          }

          .button {
            width: 163px;
          }
        }
      }
    }
  }
}

.about {
  .container {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    padding-bottom: 60px;

    .about-info {
      margin-left: 68px;

      .about-info-title {
        margin-bottom: 20px;
        @include title-Lora-38;
      }

      .about-info-text {
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: $dark-blue-color;
        margin-bottom: 40px;

      }

      .about-info-advantages-title {
        @include title-Lora-26;
        margin-bottom: 20px;
      }

      .about-info-advantages {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .about-info-advantage {
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          width: 316px;
          height: 90px;

          .about-info-advantage-icon {
            position: relative;

            .about-info-advantage-icon-circle {
              background: #B9D5FD;
              box-sizing: border-box;
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }

            .about-info-advantage-icon-number {
              font-family: Lora, sans-serif;
              font-weight: 500;
              font-size: 50px;
              position: absolute;
              top: -19px;
              left: 6px;
              color: $blue-color;

              &.one{
                left: 9px;
              }
            }

          }

          .about-info-advantage-text {
            font-size: 14px;
            line-height: 130%;
            color: $dark-blue-color;
            width: 256px;

            span{
              font-family: Montserrat;
              font-weight: 500;
              font-size: 14px;
              line-height: 130%;

            }

          }
        }
      }
    }
  }
}
.article-popular{
  .container {
    margin-bottom: 60px;
    padding-bottom: 60px;

    .article-popular-title{
      margin-bottom: 40px;
      @include title-Lora-38;
    }
    .article-popular-block{
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
    .blog-link{
      display: flex;
      align-items: center;
      justify-content: end;
      margin-top: 40px;
      a{
        text-decoration: none;
        color: $blue-color;
        font-family: Montserrat,sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin-right: 14px;
      }
    }
  }
}
.reviews{
  .container {
    margin-bottom: 60px;
    padding-bottom: 60px;

    .reviews-title{
      @include title-Lora-38;
      margin-bottom: 40px;
    }
    .reviews-block{
      position: relative;

      .move-backward{
        position: absolute;
        top: 125px;
        left: -20px;
      }
      .move-forward{
        position: absolute;
        top: 125px;
        right: -20px;
      }
      .review-carousel{

        .review{
          border: 2px solid $blue-color;
          border-radius: 5px;
          padding: 30px;
          width: 396px;
          box-sizing: border-box;

          .review-image-name{
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            img{
              width: 60px;
              height: 60px;
              margin-right: 26px;
            }
            .name{
              font-family: Montserrat, sans-serif;
              font-weight: 600;
              font-size: 18px;
              margin-bottom: 15px;

            }
          }
          .review-text{
            font-size: 16px;
            line-height: 140%;
            color: $dark-blue-color;
            height: 132px;
          }
        }
      }
    }
  }
}
.contacts{
  .container {
    margin-bottom: 60px;
    padding-bottom: 60px;
    display: flex;
    .contacts-map{
      margin-right: 26px;
    }
    .contacts-contacts{
      .contact-title-main{
        @include title-Lora-38;
        margin-bottom: 20px;
      }
      .contact-block{
        margin-bottom: 20px;
        .contact-title{
          @include title-Montserrat-500-20;
          margin-bottom: 10px;
        }
        .contact-info{
          font-size: 14px;
          line-height: 130%;
          color: $dark-blue-color;

            &.info-phone, &.info-email{
              a{
                text-decoration: none;
                color: $dark-blue-color;
              }
            }
          &.info-social{
            a{
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
