<section class="main">
  <div class="container">
    <swiper-container class="main-title-sliders" navigation pagination>
      <swiper-slide>
        <div class="main-title-slide">
          <div class="slide-block-image">
            <img
              src="assets/images/main/elipce.png"
              alt="elipce"
              class="elipce"
            />
            <img
              src="assets/images/main/image1.png"
              alt="image"
              class="image"
            />
          </div>
          <div class="main-title-info">
            <div class="main-title-info-pre-title">Предложение месяца</div>
            <div class="main-title-info-title">
              Продвижение в Instagram для вашего бизнеса <span>-15%</span>!
            </div>
            <div class="main-title-info-text"></div>
            <button class="button">Подробнее</button>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main-title-slide swiper-slide">
          <div class="slide-block-image">
            <img
              src="assets/images/main/elipce.png"
              alt="elipce"
              class="elipce"
            />
            <img
              src="assets/images/main/image2.png"
              alt="image"
              class="image"
            />
          </div>
          <div class="main-title-info">
            <div class="main-title-info-pre-title">Акция</div>
            <div class="main-title-info-title">
              Нужен грамотный <span>копирайтер</span>?
            </div>
            <div class="main-title-info-text">
              Весь декабрь у нас действует акция на работу копирайтера.
            </div>
            <button class="button">Подробнее</button>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main-title-slide swiper-slide">
          <div class="slide-block-image">
            <img
              src="assets/images/main/elipce.png"
              alt="elipce"
              class="elipce"
            />
            <img
              src="assets/images/main/image3.png"
              alt="image"
              class="image"
            />
          </div>
          <div class="main-title-info">
            <div class="main-title-info-pre-title">Новость дня</div>
            <div class="main-title-info-title">
              <span>6 место </span> в ТОП-10 <br> SMM-агенств Москвы!
            </div>
            <div class="main-title-info-text">
              Мы благодарим каждого, кто голосовал за нас!
            </div>
            <button class="button">Подробнее</button>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="services">
      <div class="services-title">Услуги, которые мы предлагаем</div>
      <div class="services-block">
        <div class="service-card">
          <div class="service-card-image">
            <img src="assets/images/main/service-img1.png" alt="service">
          </div>
          <div class="service-card-title">Создание сайтов</div>
          <div class="service-card-text">
            В краткие сроки мы создадим качественный и самое главное продающий сайт для продвижения Вашего бизнеса!
          </div>
          <div class="service-card-action">
            <div class="service-card-price">От 7 500₽</div>
            <button class="button">Подробнее</button>
          </div>
        </div>
        <div class="service-card">
          <div class="service-card-image">
            <img src="assets/images/main/service-img2.png" alt="service">
          </div>
          <div class="service-card-title">Продвижение</div>
          <div class="service-card-text">
            Вам нужен качественный SMM-специалист или грамотный таргетолог? Мы готовы оказать Вам услугу “Продвижения”
            на наивысшем уровне!
          </div>
          <div class="service-card-action">
            <div class="service-card-price">От 3 500₽</div>
            <button class="button">Подробнее</button>
          </div>
        </div>
        <div class="service-card">
          <div class="service-card-image">
            <img src="assets/images/main/service-img3.png" alt="service">
          </div>
          <div class="service-card-title">Реклама</div>
          <div class="service-card-text">
            Без рекламы не может обойтись ни один бизнес или специалист. Обращаясь к нам, мы гарантируем быстрый прирост
            клиентов за счёт правильно настроенной рекламы.
          </div>
          <div class="service-card-action">
            <div class="service-card-price">От 1 000₽</div>
            <button class="button">Подробнее</button>
          </div>
        </div>
        <div class="service-card">
          <div class="service-card-image">
            <img src="assets/images/main/service-img4.png" alt="service">
          </div>
          <div class="service-card-title">Копирайтинг</div>
          <div class="service-card-text">
            Наши копирайтеры готовы написать Вам любые продающие текста, которые не только обеспечат рост охватов, но и
            помогут выйти на новый уровень в продажах.
          </div>
          <div class="service-card-action">
            <div class="service-card-price"></div>
            <button class="button">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
