<section class="main">
  <div class="container">
    <swiper-container>
      <swiper-slide>
        <div class="main-title-slide">
          <div class="slide-block-image">
            <img
              src="assets/images/main/elipce.png"
              alt="elipce"
              class="elipce"
            />
            <img
              src="assets/images/main/image1.png"
              alt="image"
              class="image"
            />
          </div>
          <div class="main-title-info">
            <div class="main-title-info-pre-title">Предложение месяца</div>
            <div class="main-title-info-title">
              Продвижение в Instagram для вашего бизнеса <span>-15%</span>!
            </div>
            <div class="main-title-info-text"></div>
            <button class="button">Подробнее</button>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main-title-slide swiper-slide">
          <div class="slide-block-image">
            <img
              src="assets/images/main/elipce.png"
              alt="elipce"
              class="elipce"
            />
            <img
              src="assets/images/main/image2.png"
              alt="image"
              class="image"
            />
          </div>
          <div class="main-title-info">
            <div class="main-title-info-pre-title">Акция</div>
            <div class="main-title-info-title">
              Нужен грамотный <span>копирайтер</span>?
            </div>
            <div class="main-title-info-text">
              Весь декабрь у нас действует акция на работу копирайтера.
            </div>
            <button class="button">Подробнее</button>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main-title-slide swiper-slide">
          <div class="slide-block-image">
            <img
              src="assets/images/main/elipce.png"
              alt="elipce"
              class="elipce"
            />
            <img
              src="assets/images/main/image3.png"
              alt="image"
              class="image"
            />
          </div>
          <div class="main-title-info">
            <div class="main-title-info-pre-title">Новость дня</div>
            <div class="main-title-info-title">
              <span>6 место </span> в ТОП-10 SMM-агенств Москвы!
            </div>
            <div class="main-title-info-text">
              Мы благодарим каждого, кто голосовал за нас!
            </div>
            <button class="button">Подробнее</button>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="services">
      <div class="services-title">Услуги, которые мы предлагаем</div>
    </div>
  </div>
</section>
